# Introduction to machine learning and toolkit exercise
IRIS_Data.csv

In [11]:
from __future__ import print_function
import os
data_path = ['data']
print(data_path)

['data']

In [21]:
import numpy as np
import pandas as pd
import os
filepath = os.sep.join(data_path + ['Iris_Data.csv'])
print(filepath)
data=pd.read_csv(filepath)
print(data.head())

data\Iris_Data.csv
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
print(data.tail())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [23]:
# number of rows
print(data.shape[0])

150

In [24]:
# number of columns
print(data.columns.tolist())

['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [25]:
#Datatypes
print(data.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [26]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
19,20,5.1,3.8,1.5,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
28,29,5.2,3.4,1.4,0.2,Iris-setosa
29,30,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [32]:
#removing iris
data['species']=data.Species.apply(lambda r:r.replace('Iris-',''))
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,species
0,1,5.1,3.5,1.4,0.2,setosa,setosa
1,2,4.9,3.0,1.4,0.2,setosa,setosa
2,3,4.7,3.2,1.3,0.2,setosa,setosa
3,4,4.6,3.1,1.5,0.2,setosa,setosa
4,5,5.0,3.6,1.4,0.2,setosa,setosa

In [33]:
#The number of each species present
data.species.value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [34]:
# The mean , median , ranges and min-max
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [35]:
#the mean calculation
data.groupby('species').mean()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
species
setosa       25.5          5.006         3.418          1.464         0.244
versicolor   75.5          5.936         2.770          4.260         1.326
virginica   125.5          6.588         2.974          5.552         2.026

In [36]:
#the median calculation
data.groupby('species').median()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
species
setosa       25.5            5.0           3.4           1.50           0.2
versicolor   75.5            5.9           2.8           4.35           1.3
virginica   125.5            6.5           3.0           5.55           2.0

In [37]:
#applying multiple functions at once -2 methods
data.groupby('species').agg(['mean','median'])
data.groupby('species').agg([np.mean,np.median])

               Id        SepalLengthCm        SepalWidthCm         \
             mean median          mean median         mean median
species
setosa       25.5   25.5         5.006    5.0        3.418    3.4
versicolor   75.5   75.5         5.936    5.9        2.770    2.8
virginica   125.5  125.5         6.588    6.5        2.974    3.0

           PetalLengthCm        PetalWidthCm
                    mean median         mean median
species
setosa             1.464   1.50        0.244    0.2
versicolor         4.260   4.35        1.326    1.3
virginica          5.552   5.55        2.026    2.0

In [45]:
import numpy as np
import pandas as pd
import os
filepath = os.sep.join(data_path + ['irisd.csv'])
print(filepath)
data=pd.read_csv(filepath)
print(data.head())

data\irisd.csv
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [48]:
#aggregration of fields differently
from pprint import pprint
agg_dict={field:['mean','median'] for field in data.columns if field!='species'}
agg_dict['petal_length']='max'
pprint(agg_dict)
data.groupby('species').agg(agg_dict)

{'petal_length': 'max',
 'petal_width': ['mean', 'median'],
 'sepal_length': ['mean', 'median'],
 'sepal_width': ['mean', 'median']}

           sepal_length        sepal_width        petal_length petal_width  \
                   mean median        mean median          max        mean
species
setosa            5.006    5.0       3.418    3.4          1.9       0.244
versicolor        5.936    5.9       2.770    2.8          5.1       1.326
virginica         6.588    6.5       2.974    3.0          6.9       2.026


           median
species
setosa        0.2
versicolor    1.3
virginica     2.0